<div class="edit-form" *ngIf="city">
    <div class="title">
        <h3>Edit city</h3>
    </div>   
    <form>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                        <input 
                            [(ngModel)]="city.name" 
                            name="city-name" 
                            type="text" 
                            class="form-control" />
                    </div>
                </div>
            </div>            
        </div>
        <div class="row save-bar">
            <div class="col-12">
                <div class="button-container" style="display:table">
                    <div>
                        <input type="button" class="btn btn-primary" value="Save"
                            (click)="save()" />
                    </div>
                    <div>
                        <input type="button" class="btn btn-default" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>