<div class="edit-form" *ngIf="city">
    <div class="title">
        <h3>Edit city</h3>
    </div>   
    <form [formGroup]="editForm" novalidate>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Name:</label>
                    <div class="col-sm-10">
                        <input 
                            formControlName="name" 
                            type="text" 
                            class="form-control"
                            required />

                            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                class="alert alert-danger">                
                                <div *ngIf="name.errors.required">
                                Name is required.
                                </div>                                                           
                            </div>
                    </div>
                </div>
            </div>            
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">State:</label>
                    <div class="col-sm-10">
                        <select formControlName="stateId"
                            class="form-control">
                            <option value="">Select...</option>
                            <option *ngFor="let item of stateList.controls"
                                [ngValue]="item.value.id">
                                {{ item.value.name }}
                            </option>
                        </select>
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row save-bar">
            <div class="col-12">
                <div class="button-container" style="display:table">
                    <div>
                        <input type="button" 
                            class="btn btn-primary" 
                            value="Save"
                            [disabled]="(!editForm.valid)"
                            (click)="save()" />
                    </div>
                    <div>
                        <input type="button" class="btn btn-default" value="Cancel"
                            [disabled]="!editForm.touched" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>