<form class="example-form">
  <div class="example-full-width row">
    <div class="col-sm-6">
        <input [(ngModel)]="userName" class="k-textbox-no-border k-textbox" 
          name='userName'
          placeholder="Enter your email address" />
    </div>    
  </div>
  <div class="example-full-width row">
    <input [(ngModel)]="password" class="k-textbox-no-border k-textbox" 
      name='password'
      placeholder="Enter your password" />
  </div>
  <div clas="row">
    <button class="k-button" (click)="login()">Log in</button>
  </div>  
</form>