// styles.scss
//@import "~@progress/kendo-theme-bootstrap/scss/all";

body {
    font: 100% Helvetica, sans-serif;
    color: #333;
}

nav {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background: #8dc63f;
    display:block;
}

nav ul#menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: 0;
} 

nav ul#menu li {
    position: relative;
    display: inline-block;
}

nav ul#menu li a {
    display: block;
    height: 50px;
    font-size: 1em;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;

}

nav.enabled ul#menu li a:hover, nav ul#menu li:hover > a {
    background: #e9ecef;
    color:#8dc63f;
}

nav.enabled ul#menu li:hover > #mega {
    display: block;
}

#mega {
    position: absolute;
    top: 100%;
    left: 0;
    width: 795px;
    height: auto;
    padding: 10px;
    background: #e9ecef;
    display: none;

    .menu-row {
        display:table-row;
        .menu-cell {
            display:table-cell;
            padding-left:10px;
            padding-top:10px;
        }
        .menu-cell:first-child {
            padding-left:0px !important;
        }
    }
    
    .menu-row:first-child{
        .menu-cell {
            padding-top:0px;
        }
    }
}

ul#menu ul {
    float: left;
    width: 23%;
    // margin: 0 2% 15px 0;
    padding: 0;
    list-style: none;
}

ul#menu ul li {
    display: block;
}

ul#menu ul li a {
    float: left;
    display: block;
    width: 100%;
    height: auto;
    line-height: 1.3em;
    color: #888;
    text-decoration: none;
    padding: 6px 0;
}

// ul#menu ul li:first-child a {
//     font-size: 1.2em;
//     color: #8dc63f;
// }

ul#menu ul li a:hover {
    background: none;
}

// ul#menu ul li:first-child a:hover {
//     color: #fff;
// }

/* clearfix */
nav ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

nav ul {
    display: inline-block;
} 

.menu.card {
    width:250px;
    height:110px;
}

.menu.card .card-body {
    padding: 0.7rem;
    a {
        text-decoration: none;
        color:black;        
    }    
    .card-title {
        font-size:0.9rem;
        margin-bottom:.15rem;
        font-weight:bold;
    }
    .card-text{
        font-size:0.75rem;
    }
}

.menu.card .card-body:hover {
    color:white;
    background-color:#8dc63f;
    height:110px;
}

/* override bootstrap styles*/
.btn-primary {
    background-color: #8dc63f !important;
    border-color: #8dc63f !important;
}

.btn-primary:hover {
    background-color: #73a034 !important;
    border-color: #73a034 !important;
}