// styles.scss
//@import "~@progress/kendo-theme-bootstrap/scss/all";

body {
    font: 100% Helvetica, sans-serif;
    color: #333;
}

a.navbar-brand,
a.navbar-brand:hover {
    color: white;
}

.navbar-toggler-icon {
    color:white;
}

.menu.card .card-body {
    padding: 0.7rem;
    
    a {
        text-decoration: none;
        color:black;        
    }    
    .card-title {
        margin-bottom:.25rem
    }
}

.menu.card .card-body:hover {
    background-color:rgb(248, 246, 246);
}