/* You can add global styles to this file, and also import other style files */
/* @import "~@progress/kendo-theme-bootstrap/scss/all"; */
/* @import "~@progress/kendo-theme-bootstrap/scss/grid"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";