// styles.scss
//@import "~@progress/kendo-theme-bootstrap/scss/all";

body {
    font: 100% Helvetica, sans-serif;
    color: #333;
}

nav {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background: #0183ec;
    display:block;
}

nav ul#menu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: 0;
} 

nav ul#menu li {
    position: relative;
    display: inline-block;
}

nav ul#menu li a,
nav ul#menu li div.logo {
    display: block;
    height: 50px;
    font-size: 1em;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
    cursor: pointer;
}

nav.enabled ul#menu li div.logo:hover, 
nav ul#menu li:hover > a {
    background: #0183ec;
    color:#e9ecef;
}

nav.enabled ul#menu li a:hover, nav ul#menu li:hover > a {
    background: #0183ec;
    color:#e9ecef;
}

#mega {
    position: absolute;
    top: 100%;
    left: 0;
    width: 795px;
    height: auto;
    padding: 10px;
    background: #e9ecef;
    z-index: 999;

    .menu-row {
        display:table-row;
        .menu-cell {
            display:table-cell;
            padding-left:10px;
            padding-top:10px;
            margin:0px;
        }
        .menu-cell:first-child {
            padding-left:0px !important;
        }
    }
    
    .menu-row:first-child{
        .menu-cell {
            padding-top:0px;
        }
    }
}

ul#menu ul {
    float: left;
    width: 23%;
    // margin: 0 2% 15px 0;
    padding: 0;
    list-style: none;
}

ul#menu ul li {
    display: block;
}

ul#menu ul li a {
    float: left;
    display: block;
    width: 100%;
    height: auto;
    line-height: 1.3em;
    color: #888;
    text-decoration: none;
    padding: 0px;
}

/* clearfix */
nav ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

nav ul {
    display: inline-block;
} 

a.menu.card {
    // width:250px;
    // height:110px;
    padding:0px;
    margin:0px;
}

.menu.card .card-body {
    width:250px;
    height:105px;
    padding: 0.7rem;
    a {
        text-decoration: none;
        color:black;        
    }    
    .card-title {
        font-size:0.9rem;
        margin-bottom:.15rem;
        font-weight:bold;
    }
    .card-text{
        font-size:0.75rem;
    }
}

// a.menu.card:hover {
//     color:white;
//     background-color:#8dc63f;
//     height:100px;

//     .card-body {
//         background-color:#8dc63f;    
//     }
// }

/* override bootstrap styles*/
.btn-primary {
    background-color: #0183ec !important;
    border-color: #0183ec !important;
}

.btn-primary:hover {
    background-color: #0183ec !important;
    border-color: #0183ec !important;
}

.edit-form {
    max-width:800px;
    padding-top:15px;

    > .title {
        padding-bottom:5px;
    }

    .title-action-bar {
        margin-bottom: 5px;
        > .title {
            padding-top:10px;
        }
    }    

    .card .card-header {
        .title:first-child {
            font-weight: bold;
        }        
    }

    .card .card-body .form-group.row:last-child {
        margin-bottom:0px;
    }

    .save-bar {
        margin-top:15px;
    }
}

// all font-awesome icons default
i.fa {
    color:#6c757d;
}

i.fa.edit {
    cursor:pointer;    
}