<nav [ngClass]="{'enabled':enabled}">
  <ul id="menu">
      <li><div class="logo" (click)="toggleMenu()">Bridgeport</div>
          <div id="mega" *ngIf="visible">
              <ul>
                  <li>
                        <div class="menu-row">
                            <div class="menu-cell">
                                <a class="menu card" href="#" routerLink="/rateunittype">
                                    <div class="card-body">
                                        <div class="card-title">Rate unit type</div>
                                        <div class="card-text">
                                            Manage various rules for applying a rate to a shipment based on
                                            weight, volume or other factors.
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="menu-cell">
                                <a class="menu card" href="#" routerLink="/equipment">
                                    <div class="card-body">
                                        <div class="card-title">Equipment</div>
                                        <div class="card-text">
                                            Manage the equipment types to be used for rate setup.
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="menu-cell">
                                <a class="menu card">
                                    <div class="card-body">
                                        <div class="card-title">Commodities</div>
                                        <div class="card-text">
                                            Manage the list of shipping commodities to be used for rate setup.
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="menu-row">
                            <div class="menu-cell">
                                <a class="menu card">
                                    <div class="card-body">
                                        <div class="card-title">Cities</div>
                                        <div class="card-text">
                                            Manage the cities available to be used in location groups for rate setup.
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="menu-cell">
                                <a class="menu card">
                                    <div class="card-body">
                                        <div class="card-title">Location groups</div>
                                        <div class="card-text">
                                            Manage groups of locations such as cities and services centers for
                                            simple rate setup.
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="menu-cell">
                                <a class="menu card">
                                    <div class="card-body">
                                        <div class="card-title">Location groups</div>
                                        <div class="card-text">
                                            Manage groups of locations such as cities and services centers for
                                            simple rate setup.
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                  </li>                    
              </ul>                        
          </div>
      </li>                
  </ul>    
</nav>
