<div class="jumbotron my-3">
    <h1 class="display-4">Welcome to Bridgeport!</h1>
    <p class="lead">
        Bridgeport<span style="font-size:.7em;">&copy;</span> provides secure contract and tariff-based documentation
        and pricing services for shippers.  
    </p>
    <hr class="my-4">
    <p>
        Use the menu at the top to navigate contract, tariff and other data maintenance
        workflows.
    </p> 
</div>
<div class="jumbo menu">
    <div class="menu card">
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Location groups</h5>
                <p class="card-text">
                Manage groups of locations such as cities and services centers for
                simple rate setup.
                </p>
            </a>               
        </div>      
    </div>
    <div class="menu card my-2">
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Cities</h5>
                <p class="card-text">
                Manage the cities available to be used in location groups for rate setup.
                </p>
            </a>                       
        </div>      
    </div>
    <div class="menu card my-2">
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Commodities</h5>
                <p class="card-text">
                Manage the list of shipping commodities to be used for rate setup.
                </p>
            </a>                       
        </div>      
    </div>
    <div class="menu card my-2">
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Equipment</h5>
                <p class="card-text">
                Manage the equipment types to be used for rate setup.
                </p>
            </a>                       
        </div>      
    </div>
    <div class="menu card my-2">
        <div class="card-body">
            <a href="#">
                <h5 class="card-title">Rate unit types</h5>
                <p class="card-text">
                Manage various rules for applying a rate to a shipment based on
                weight, volume or other factors.
                </p>
            </a>                       
        </div>      
    </div>
</div>